[maintainers][1]
# maintainers are people responsible for quality and they have level overview
* @lukas.koszegy @benjamin.alpert @daniel.vanco @florin-alexandru.peter

[technical-responsible][1]
# technical-responsible people have deep knowledge in specific area
* @kajol.asabe @sourav.sahu @usha.belgur @rohit.kumar @sujeet.phadtare
