
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.2
  creationTimestamp: null
  name: ipamranges.network.onmetal.de
spec:
  group: network.onmetal.de
  names:
    kind: IPAMRange
    listKind: IPAMRangeList
    plural: ipamranges
    shortNames:
    - ipr
    singular: ipamrange
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.parent.name
      name: Parent
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: IPAMRange is the Schema for the ipamranges API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: IPAMRangeSpec defines the desired state of IPAMRange Either
              parent and size or a give CIDR must be specified. If parent is specified,
              the effective range of the given size is allocated from the parent IP
              range. If parent and CIDR is defined, the given CIDR must be in the
              parent range and unused. It will be allocated if possible. Otherwise,
              the status of the object will be set to "Invalid".
            properties:
              cidrs:
                description: CIDRs is a list of CIDR specs which are defined for this
                  IPAMRange
                items:
                  description: CIDR represents a network CIDR.
                  type: string
                type: array
              parent:
                description: Parent is the reference of the Parent IPAMRange from
                  which the CIDR or size should be derived
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
              requests:
                items:
                  properties:
                    cidr:
                      description: CIDR represents a network CIDR.
                      type: string
                    ipCount:
                      description: IPCount requests a consecutive IP range of the
                        given size.
                      format: int32
                      type: integer
                    ips:
                      description: IPRange is an IP range.
                      properties:
                        from:
                          description: IPAddr is an IP address.
                          type: string
                        to:
                          description: IPAddr is an IP address.
                          type: string
                      required:
                      - from
                      - to
                      type: object
                    reserved:
                      type: boolean
                    size:
                      description: Size requests a CIDR of the given size.
                      format: int32
                      type: integer
                  type: object
                type: array
            type: object
          status:
            description: IPAMRangeStatus defines the observed state of IPAMRange
            properties:
              allocations:
                items:
                  description: IPAMRangeAllocationStatus is the status of an IPAMRange
                    allocation.
                  properties:
                    cidr:
                      description: CIDR defines the cidr
                      type: string
                    ips:
                      description: IPRange is an IP range.
                      properties:
                        from:
                          description: IPAddr is an IP address.
                          type: string
                        to:
                          description: IPAddr is an IP address.
                          type: string
                      required:
                      - from
                      - to
                      type: object
                    request:
                      properties:
                        cidr:
                          description: CIDR represents a network CIDR.
                          type: string
                        ipCount:
                          description: IPCount requests a consecutive IP range of
                            the given size.
                          format: int32
                          type: integer
                        ips:
                          description: IPRange is an IP range.
                          properties:
                            from:
                              description: IPAddr is an IP address.
                              type: string
                            to:
                              description: IPAddr is an IP address.
                              type: string
                          required:
                          - from
                          - to
                          type: object
                        reserved:
                          type: boolean
                        size:
                          description: Size requests a CIDR of the given size.
                          format: int32
                          type: integer
                      type: object
                    state:
                      description: IPAMRangeAllocationState is a state an IPAMRangeAllocationStatus
                        can have.
                      type: string
                    user:
                      description: LocalObjectReference contains enough information
                        to let you locate the referenced object inside the same namespace.
                      properties:
                        name:
                          description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                            TODO: Add other useful fields. apiVersion, kind, uid?'
                          type: string
                      type: object
                  required:
                  - state
                  type: object
                type: array
              observedGeneration:
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
