on:
  pull_request:
    types: [ assigned, opened, synchronize, reopened ]

name: Pull Request Code test

jobs:
  checks:
    name: run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.16.0'
      - run: make test